body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Limite de largura do container */
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #218838;
}

#expenses-list {
    margin-top: 20px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.expense-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.expense-item button:hover {
    background-color: #c82333;
}

canvas {
    margin-top: 20px;
    max-height: 400px; /* Limite de altura do gráfico */
    width: 100%; /* Largura total do container */
}
